/*********************************Corpo*******************************************************************/

body{
    background-color: rgb(233, 210, 183);
    font-family: 'Roboto', sans-serif;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;   

}

/*********************************Cabeçalho*******************************************************************/

h1{
    font-size: 50px;
    text-shadow: 2px 2px rgba(133, 133, 133, 0.555);
    transition: linear 0.5s; 
    text-align: center;
}

h1:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
}

p{    
    text-align: center;
    font-size: 18px;    
    margin-bottom: 20px;
    line-height: 30px;

}

/*********************************Imagens*******************************************************************/

#temple{
    display: grid;
    position: relative;
    float: left;
    transition: linear 0.5s;
}

#temple:hover{
    -webkit-transform: scale(1.1);
    -moz-transform: scale(1.1);
}

#triangretang{
    display: grid;
    position: relative;
    margin-bottom: 20px;  
    
    animation-name: rotation;
    animation-duration: 4s;
    animation-delay: 8s;
    animation-fill-mode: infinite;
    
}

/*********************************Formulários*******************************************************************/

form{
    text-align: center;  
    align-content: center;   
    
    animation: fade 3s ease-in-out;
}

input{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-top: 20px;
    background-color: rgba(237, 237, 238, 0.692);    
    font-family: 'Roboto', sans-serif;
    font-size: 18px;    
    line-height: 15px; 
    text-align: center;       
    
}

/*********************************Botão Calcular****************************************************************/

#calc, #limpar{    
    margin-top: 30px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    padding: 5px 5px 5px 5px;
    
}

#calc:hover{
    background-color: rgb(226, 150, 78);
}

#limpar:hover{
    background-color: rgb(228, 134, 118);
}

/*********************************Animações*****************************************************************/

@keyframes fade {
    from{opacity: 0;}
    to{opacity: 2;}
}

@keyframes rotation {  
    0% {transform: rotateY(0deg);} 
    100% {transform: rotateY(-360deg);}
}  

/*********************************Responsividade****************************************************************/

@media (max-width: 700px) {
    html{
        font-size: 80%;
        grid-template-columns: auto;  
   
    }        
    
}
   